doctype html
html
  head
    title= title
    script(src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Carter+One|Montserrat", rel="stylesheet")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.1/css/all.css", integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin="anonymous")
    script(src='/javascripts/bundle.js')
  body
    block content
