doctype html
html
  head
    title= title
    script(src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Carter+One|Montserrat", rel="stylesheet")
    script(src='/javascripts/bundle.js')
  body
    block content
