body {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  color: #f1e6d0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  font-weight: normal;
  color: inherit; }

a {
  color: #c9aa71;
  text-decoration: none;
  display: block; }

.active {
  font-weight: bold;
  color: white; }

ul {
  list-style: none; }

main {
  margin-top: 36px; }

nav {
  display: flex;
  background-color: black;
  position: fixed;
  height: 36px;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif; }
  nav h1 {
    display: block;
    margin: 0 12vw;
    font-family: 'carter one';
    font-size: 20px; }
  nav ul {
    display: flex;
    margin: 0 6vw;
    font-size: 12px; }
    nav ul li {
      margin-right: 30px; }

.team-index, .match-index {
  display: flex;
  height: -webkit-fill-available;
  background: #15171a; }

.team-index-list {
  width: 30%;
  overflow: scroll; }
  .team-index-list li {
    background-color: #0e1012; }
  .team-index-list a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px;
    font-size: 18px;
    border-bottom: 1px solid #292d31;
    font-family: 'Montserrat'; }
  .team-index-list::-webkit-scrollbar {
    height: 14px;
    width: 14px;
    background-color: #0e1012;
    margin: 0 10px; }
  .team-index-list::-webkit-scrollbar-corner {
    background: #0e1012; }
  .team-index-list::-webkit-scrollbar-thumb {
    background: #292d31;
    -webkit-border-radius: 1ex;
    border: 3px solid #0e1012; }

.team-show {
  width: 70%;
  background: #15171a; }
  .team-show > div {
    padding: 20px;
    height: 100%;
    width: 100%; }
  .team-show h2 {
    font-size: 30px;
    font-family: 'montserrat';
    text-align: center;
    color: #c9aa71; }

.match-index-list {
  width: 100%; }
  .match-index-list ul {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .match-index-list ul li {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px 10px;
      background-color: black;
      border-radius: 8px;
      margin-bottom: 5px;
      font-size: 18px; }
      .match-index-list ul li > a {
        width: fit-content;
        margin-bottom: 10px; }
      .match-index-list ul li > div {
        display: flex; }
  .match-index-list h3 {
    margin-bottom: 10px; }

.session-screen {
  background: #010A1D;
  height: -webkit-fill-available; }

.session-form-container {
  border-color: #463714;
  background: #010a13;
  box-shadow: 0 0 0 1px rgba(1, 10, 19, 0.48);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid transparent;
  border-image: linear-gradient(to top, #614a1f 0, #463714 5px, #463714 100%) 1 stretch;
  padding: 2em;
  width: 400px; }
  .session-form-container h2 {
    font-family: 'Carter One', cursive;
    font-size: 28px;
    text-transform: uppercase; }
  .session-form-container a {
    color: #cdbe91;
    font-size: 12px;
    text-align: right; }

.session-form {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .session-form label {
    font-size: 12px;
    margin-top: .5em;
    text-align: left;
    width: 100%;
    color: #a09b8c; }
  .session-form input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    border-style: solid;
    background-color: #1e2328;
    transition: border-color 0s;
    outline: none;
    padding: .5em .75em; }
    .session-form input:focus {
      border-color: #a98f5d;
      background: linear-gradient(to bottom, #1e2328, #292d30);
      border-image: linear-gradient(to bottom, #785A28, #c8aa6e) 1 stretch; }

.session-form-info {
  color: #f0e6d2;
  border-color: #785a28;
  border-width: 1px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 0 0 1px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  margin-top: .5em; }

.session-form-submit {
  font-family: 'Carter One', cursive;
  border-width: 2px;
  margin: 2em 1em 1em 1em;
  text-transform: uppercase;
  font-size: 16px;
  border: 2px solid transparent;
  border-image: linear-gradient(to top, #0d404c 0%, #0596aa 44%, #0596aa 93%, #0ac8b9 100%);
  border-image-slice: 1;
  color: #cdfafa;
  box-shadow: 0 0 1px 1px #010a13, inset 0 0 1px 1px #010a13; }
  .session-form-submit:disabled {
    color: #5c5b57;
    background-color: #1e2328;
    border-color: #5c5b57;
    border-width: 2px;
    border-image: initial; }

.loading-gif {
  display: block;
  position: fixed;
  height: 376px;
  width: auto;
  top: 50%;
  left: 50%;
  margin-top: -188px;
  margin-left: -282px; }

/*# sourceMappingURL=style.css.map */